<link rel="stylesheet" href="css/a2.css">
    <div class="row table-content">
        <div class="col-2">{{Xe.bienso}}</div>
        <div class="col-2">{{Xe.LoaiXe.ten}}</div>
        <div class="col-2 active-filter">{{getDate chuyen.ngayGioKhoiHanh}}</div>
        <div class="col-2">{{getArrival chuyen.ngayGioKhoiHanh Tuyen.soPhutDiChuyen}}</div>
        <div class="col-2">{{chuyen.gia}}</div>
        <div class="col-2"><a name="" id="" class="btn btn-outline-secondary" href="#" role="button"
                data-toggle="collapse" data-target="#collapse{{@index}}">Select Seat</a></div>
    </div>
    <div id="collapse{{@index}}" class="row container table-content collapse">
        {{#if (checkSeater Xe.LoaiXe.ten)}}
        <div id="div{{chuyen.id}}" class="col-lg-6 busDiv mt-5" data-seats="{{list transactions @index}}">
            <div id="sleeper-div-lower">
                <p>FRONT</p>
                <table id="seater-table">
                    <tr class="mb-4">
                        <td>
                            <div id="1" class="seater">
                                <div class="seater-rec2"></div>
                                <div class="seater-rec1"></div>
                            </div>
                        </td>
                        <td>
                            <div id="4" class="seater">
                                <div class="seater-rec2"></div>
                                <div class="seater-rec1"></div>
                            </div>
                        </td>
                        <td>
                            <div id="7" class="seater">
                                <div class="seater-rec2"></div>
                                <div class="seater-rec1"></div>
                            </div>
                        </td>
                        <td>
                            <div id="10" class="seater">
                                <div class="seater-rec2"></div>
                                <div class="seater-rec1"></div>
                            </div>
                        </td>
                        <td>
                            <div id="13" class="seater">
                                <div class="seater-rec2"></div>
                                <div class="seater-rec1"></div>
                            </div>
                        </td>
                        <td>
                            <div id="16" class="seater">
                                <div class="seater-rec2"></div>
                                <div class="seater-rec1"></div>
                            </div>
                        </td>
                        <td>
                            <div id="19" class="seater">
                                <div class="seater-rec2"></div>
                                <div class="seater-rec1"></div>
                            </div>
                        </td>
                        <td>
                            <div id="21" class="seater">
                                <div class="seater-rec2"></div>
                                <div class="seater-rec1"></div>
                            </div>
                        </td>
                        <td>
                            <div id="24" class="seater">
                                <div class="seater-rec2"></div>
                                <div class="seater-rec1"></div>
                            </div>
                        </td>
                    </tr>
                    <tr class="pb-4 pt-4">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <div id="25" class="seater">
                                <div class="seater-rec2"></div>
                                <div class="seater-rec1"></div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div id="2" class="seater">
                                <div class="seater-rec2"></div>
                                <div class="seater-rec1"></div>
                            </div>
                        </td>
                        <td>
                            <div id="5" class="seater">
                                <div class="seater-rec2"></div>
                                <div class="seater-rec1"></div>
                            </div>
                        </td>
                        <td>
                            <div id="8"  class="seater">
                                <div class="seater-rec2"></div>
                                <div class="seater-rec1"></div>
                            </div>
                        </td>
                        <td>
                            <div id="11"  class="seater">
                                <div class="seater-rec2"></div>
                                <div class="seater-rec1"></div>
                            </div>
                        </td>
                        <td>
                            <div id="14" class="seater">
                                <div class="seater-rec2"></div>
                                <div class="seater-rec1"></div>
                            </div>
                        </td>
                        <td>
                            <div id="17" class="seater">
                                <div class="seater-rec2"></div>
                                <div class="seater-rec1"></div>
                            </div>
                        </td>
                        <td>
                            <div id="20" class="seater">
                                <div class="seater-rec2"></div>
                                <div class="seater-rec1"></div>
                            </div>
                        </td>
                        <td>
                            <div id="23" class="seater">
                                <div class="seater-rec2"></div>
                                <div class="seater-rec1"></div>
                            </div>
                        </td>
                        <td>
                            <div id="27"  class="seater">
                                <div class="seater-rec2"></div>
                                <div class="seater-rec1"></div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div id="3"  class="seater">
                                <div class="seater-rec2"></div>
                                <div class="seater-rec1"></div>
                            </div>
                        </td>
                        <td>
                            <div id="6" class="seater">
                                <div class="seater-rec2"></div>
                                <div class="seater-rec1"></div>
                            </div>
                        </td>
                        <td>
                            <div id="9"  class="seater">
                                <div class="seater-rec2"></div>
                                <div class="seater-rec1"></div>
                            </div>
                        </td>
                        <td>
                            <div id="12" class="seater">
                                <div class="seater-rec2"></div>
                                <div class="seater-rec1"></div>
                            </div>
                        </td>
                        <td>
                            <div id="15" class="seater">
                                <div class="seater-rec2"></div>
                                <div class="seater-rec1"></div>
                            </div>
                        </td>
                        <td>
                            <div id="18" class="seater">
                                <div class="seater-rec2"></div>
                                <div class="seater-rec1"></div>
                            </div>
                        </td>
                        <td>
                            <div id="21" class="seater">
                                <div class="seater-rec2"></div>
                                <div class="seater-rec1"></div>
                            </div>
                        </td>
                        <td>
                            <div id="24" class="seater">
                                <div class="seater-rec2"></div>
                                <div class="seater-rec1"></div>
                            </div>
                        </td>
                        <td>
                            <div id="28" class="seater">
                                <div class="seater-rec2"></div>
                                <div class="seater-rec1"></div>
                            </div>
                        </td>
                    </tr>

                </table>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-4">
                        <table><td>
                                <div class="seater sleeper-disabled">
                                    <div class="seater-rec2"></div>
                                    <div class="seater-rec1"></div>
                                </div>
                            </td>
                            <td  class="pl-2">Occupied</td>
                        </table>
                    </div>
                    <div class="col-4">
                            <table><td>
                                    <div style="cursor: default;" class="seater non-toggle">
                                        <div class="seater-rec2"></div>
                                        <div class="seater-rec1"></div>
                                    </div>
                                </td>
                                <td class="pl-2">Available</td>
                            </table>
                    </div>
                    <div class="col-4 ">
                            <table><td>
                                    <div style="cursor: default;" class="seater  non-toggle sleeper-active">
                                        <div class="seater-rec2"></div>
                                        <div class="seater-rec1"></div>
                                    </div>
                                </td>
                                <td  class="pl-2">Selected</td>
                            </table>
                    </div>
                </div>
            </div>
        </div>
        
        {{!-- {{getOccupied Xe.LoaiXe.ten id}} --}}
        {{else}}
        <div id="div{{chuyen.id}}" class="col-lg-6 busDiv mt-0" data-seats="{{list transactions @index}}">
                <p id="title">Upper</p>
                <div id="sleeper-div-lower">
                    <p>FRONT</p>
                    <table id="sleeper-table">
                        <tr>
                            <td>
                                <div id="1A" class="sleeper">
                                    <div class="sleeper-rec"></div>
                                </div>
                            </td>
                            <td>
                                <a id="4A" class="sleeper">
                                    <div class="sleeper-rec"></div>
                                </a>
                            </td>
                            <td>
                                <div id="7A" class="sleeper">
                                    <div class="sleeper-rec"></div>
                                </div>
                            </td>
                            <td>
                                <div id="10A" class="sleeper">
                                    <div class="sleeper-rec"></div>
                                </div>
                            </td>
                            <td>
                                <div id="13A" class="sleeper">
                                    <div class="sleeper-rec"></div>
                                </div>
                            </td>
                            <td>
                                <div id="16A" class="sleeper">
                                    <div class="sleeper-rec"></div>
                                </div>
                            </td>
                            <td>
                                <div id="19A" class="sleeper">
                                    <div class="sleeper-rec"></div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <div id="20A" class="sleeper">
                                    <div class="sleeper-rec"></div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div id="2A" class="sleeper">
                                    <div class="sleeper-rec"></div>
                                </div>
                            </td>
                            <td>
                                <div id="5A" class="sleeper">
                                    <div class="sleeper-rec"></div>
                                </div>
                            </td>
                            <td>
                                <div id="8A" class="sleeper">
                                    <div class="sleeper-rec"></div>
                                </div>
                            </td>
                            <td>
                                <div id="11A" class="sleeper">
                                    <div class="sleeper-rec"></div>
                                </div>
                            </td>
                            <td>
                                <div id="14A" class="sleeper">
                                    <div class="sleeper-rec"></div>
                                </div>
                            </td>
                            <td>
                                <div id="17A" class="sleeper">
                                    <div class="sleeper-rec"></div>
                                </div>
                            </td>
                            <td>
                                <div id="21A" class="sleeper">
                                    <div class="sleeper-rec"></div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <div id="22A" class="sleeper">
                                    <div class="sleeper-rec"></div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div id="3A" class="sleeper">
                                    <div class="sleeper-rec"></div>
                                </div>
                            </td>
                            <td>
                                <div id="6A" class="sleeper">
                                    <div class="sleeper-rec"></div>
                                </div>
                            </td>
                            <td>
                                <div id="9A" class="sleeper">
                                    <div class="sleeper-rec"></div>
                                </div>
                            </td>
                            <td>
                                <div id="12A" class="sleeper">
                                    <div class="sleeper-rec"></div>
                                </div>
                            </td>
                            <td>
                                <div id="15A" class="sleeper">
                                    <div class="sleeper-rec"></div>
                                </div>
                            </td>
                            <td>
                                <div id="18A" class="sleeper">
                                    <div class="sleeper-rec"></div>
                                </div>
                            </td>
                            <td>
                                <div id="23A" class="sleeper">
                                    <div class="sleeper-rec"></div>
                                </div>
                            </td>
                        </tr>
    
                    </table>
                </div><br>
                <p id="title">Lower</p>
                <div id="sleeper-div-upper">
                    <p>FRONT</p>
                    <table id="sleeper-table">
                        <tr>
                            <td>
                                <div id="1B" class="sleeper">
                                    <div class="sleeper-rec"></div>
                                </div>
                            </td>
                            <td>
                                <a id="4B" class="sleeper">
                                    <div class="sleeper-rec"></div>
                                </a>
                            </td>
                            <td>
                                <div id="7B" class="sleeper">
                                    <div class="sleeper-rec"></div>
                                </div>
                            </td>
                            <td>
                                <div id="10B" class="sleeper">
                                    <div class="sleeper-rec"></div>
                                </div>
                            </td>
                            <td>
                                <div id="13B" class="sleeper">
                                    <div class="sleeper-rec"></div>
                                </div>
                            </td>
                            <td>
                                <div id="16B" class="sleeper">
                                    <div class="sleeper-rec"></div>
                                </div>
                            </td>
                            <td>
                                <div id="19B" class="sleeper">
                                    <div class="sleeper-rec"></div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <div id="20B" class="sleeper">
                                    <div class="sleeper-rec"></div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div id="2B" class="sleeper">
                                    <div class="sleeper-rec"></div>
                                </div>
                            </td>
                            <td>
                                <div id="5B" class="sleeper">
                                    <div class="sleeper-rec"></div>
                                </div>
                            </td>
                            <td>
                                <div id="8B" class="sleeper">
                                    <div class="sleeper-rec"></div>
                                </div>
                            </td>
                            <td>
                                <div id="11B" class="sleeper">
                                    <div class="sleeper-rec"></div>
                                </div>
                            </td>
                            <td>
                                <div id="14B" class="sleeper">
                                    <div class="sleeper-rec"></div>
                                </div>
                            </td>
                            <td>
                                <div id="17B" class="sleeper">
                                    <div class="sleeper-rec"></div>
                                </div>
                            </td>
                            <td>
                                <div id="21B" class="sleeper">
                                    <div class="sleeper-rec"></div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <div id="22B" class="sleeper">
                                    <div class="sleeper-rec"></div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div id="3B" class="sleeper">
                                    <div class="sleeper-rec"></div>
                                </div>
                            </td>
                            <td>
                                <div id="6B" class="sleeper">
                                    <div class="sleeper-rec"></div>
                                </div>
                            </td>
                            <td>
                                <div id="9B" class="sleeper">
                                    <div class="sleeper-rec"></div>
                                </div>
                            </td>
                            <td>
                                <div id="12B" class="sleeper">
                                    <div class="sleeper-rec"></div>
                                </div>
                            </td>
                            <td>
                                <div id="15B" class="sleeper">
                                    <div class="sleeper-rec"></div>
                                </div>
                            </td>
                            <td>
                                <div id="18B" class="sleeper">
                                    <div class="sleeper-rec"></div>
                                </div>
                            </td>
                            <td>
                                <div id="23B" class="sleeper">
                                    <div class="sleeper-rec"></div>
                                </div>
                            </td>
                        </tr>
    
                    </table>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-4 pl-0">
                            <table>
                                <td>
                                    <div class="sleeper sleeper-disabled">
                                        <div class="sleeper-rec"></div>
                                    </div>
                                </td>
                                <td  class="pl-2">Occupied</td>
                            </table>
                        </div>
                        <div class="col-4 pl-0">
                                <table><td>
                                        <div style="cursor: default;" class="sleeper non-toggle">
                                            <div class="sleeper-rec"></div>
                                        </div>
                                    </td>
                                    <td class="pl-2">Available</td>
                                </table>
                        </div>
                        <div class="col-4 pl-0">
                                <table><td>
                                        <div style="cursor: default;" class="sleeper sleeper-active non-toggle">
                                            <div class="sleeper-rec"></div>
                                        </div>
                                    </td>
                                    <td  class="pl-2">Selected</td>
                                </table>
                        </div>
                    </div>
                </div>
            </div>
        {{/if}}
        <div id="ticket-info" class="container col-lg-6">

            <div class="row pt-0">
                <div class="col-4 text-left">
                    <p class="small m-0 p-0 label text-left">From</p>{{Tuyen.xuatphat.ten}}
                </div>
                <div class="col-2"></div>
                <div class="col-4 text-right">
                    <p class="small m-0 p-0 label text-right">To</p>{{Tuyen.ketthuc.ten}}
                </div>
            </div>
            <div class="row">
                <div class="col-4 text-left">
                    <p class="small m-0 p-0 label text-left">Departure</p>{{getTimeDeparture chuyen.ngayGioKhoiHanh}}
                </div>
                <div class="col-2"><i class="fas fa-arrow-right"></i></div>
                <div class="col-4 text-right">
                    <p class="small m-0 p-0 label text-right">Arrival</p>{{getTimeArrival chuyen.ngayGioKhoiHanh Tuyen.soPhutDiChuyen}}
                </div>
            </div>
            <div class="row">
                <div class="col-4 text-left">Seat(s)</div>
                <div class="col-2"></div>
                <div id="seats{{chuyen.id}}" class="div-seats col-4 text-right" ></div>
            </div>
            <hr>
            <div class="row">
                <div class="col-4">Total</div>
                <div class="col-2"></div>
                <div id="total{{chuyen.id}}" data-price="{{chuyen.gia}}" class="col-4">$0</div>
            </div>
            <div class="row">
                <a style="display: none;"  id="continueBtn{{chuyen.id}}" data-id="{{chuyen.id}}" class="btn btn-primary m-auto continueBtnLoad" href="#" role="button" data-toggle="modal" data-target="#myModal" >Continue</a>
            </div>
        </div>
    </div>
    <hr>

     <div class="modal fade" id="myModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
           
        <!-- Modal Header -->
        <div class="modal-header pb-0">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <ul class="nav nav-tabs d-flex align-content-center mb-3 text-center" style="margin: 2em 15%" role="tablist">
                <li class="nav-item">
                  <a id="ahome" class="nav-link a2-nav-link active" data-toggle="tab" href="#home">1. Passenger Information</a>
                </li>
                <li class="nav-item">
                  <a id="amenu1" class="nav-link a2-nav-link disabled" data-toggle="tab" href="#menu1">2. Contact Details</a>
                </li>
                <li class="nav-item">
                  <a id="amenu2" class="nav-link a2-nav-link disabled" data-toggle="tab" href="#menu2">3. Payment Details</a>
                </li>
              </ul>
        <!-- Modal body -->
        <div class="modal-body">
                <!-- <form action="#"> -->

            <!-- Tab panes -->
            <div class="tab-content">
                <!-- Passenger Information -->
                <div id="home" class="container tab-pane active">
                    <form id="formhome" action="javascript:click1();">
                        <div id="passangerDetailContainer" class="container pl-5 pr-5">
                           {{> passengerDetail}}
                           {{> passengerDetail}}
                        </div>
                        <button type="submit" class="btn btn-primary float-right  mb-4 mr-4 mt-2" id="a2-btn-step-1"
                            data-dismiss="">Continue</button>
                    </form>
                </div>
                <!-- Contact Details -->
                <div id="menu1" class="container tab-pane fade">
                    <form id="formmenu1" action="javascript:click2();">
                        <div class="container d-flex flex-column">
                            <div class="row big-label align-self-center mb-3 text-primary">Your ticket will be sent to
                                these
                                details</div>
                            <div class="row col-8 mb-2  align-self-center">
                                <label for="usr">Phone</label>
                                <input type="tel" class="form-control" id="usr" placeholder="Phone" required>
                            </div>
                            <div class="row col-8 mb-2  align-self-center">
                                <label for="usr">Email</label>
                                <input type="text" class="form-control" id="usr" placeholder="Email" required>
                            </div>
                            <div class="row col-8 text-center mt-3 align-self-center custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="term" name="gender1"
                                    value="customEx" required>
                                <label class="custom-control-label" for="term">I agreed to the <a class="text-info"
                                        href="#">Terms and Conditions</a></label>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary float-right m-4" id="a2-btn-step-2"
                            data-dismiss="">Continue</button>
                    </form>
                </div>
                <!-- Payment Details -->
                <div id="menu2" class="container tab-pane fade">
                    <h2 class="text-primary mb-4 text-center">10:00</h2>
                    <div class="container">
                        <div class="row  text-left">
                            <div class="col-5">
                                <p class="label p-0 mt-2 text-left">Full name</p>Lê Thành Công <br>
                                <p class="label p-0 mt-2 text-left">Phone</p>0123456789 <br>
                                <p class="label p-0 mt-2 text-left">Email</p>1612898@student.hcmus.edu.vn <br>
                            </div>
                            <div id="" class="container col-lg-6">
                                <div class="row pt-0 d-flex justify-content-center">
                                    <div class="col-4 text-left">
                                        <p class="small m-0 p-0 label text-left">From</p>NewYork
                                    </div>
                                    <div class="col-2"></div>
                                    <div class="col-4  text-right">
                                        <p class="small m-0 p-0 label">To</p>Dallas
                                    </div>
                                </div>
                                <div class="row d-flex justify-content-center">
                                    <div class="col-4 text-left ">
                                        <p class="small m-0 p-0 label text-left">Departure</p>13:30
                                    </div>
                                    <div class="col-2  text-right"><i class="fas fa-arrow-right"></i></div>
                                    <div class="col-4   text-right">
                                        <p class="small m-0 p-0 label text-right">Arrival</p>23:30
                                    </div>
                                </div>
                                <div class="row mt-2 d-flex justify-content-center">
                                    <div class="col-4 text-left">Seat(s)</div>
                                    <div class="col-2  text-right"></div>
                                    <div class="col-4   text-right">10B,11B</div>
                                </div>
                                <hr>
                                <div class="row d-flex justify-content-center">
                                    <div class="col-4 text-left">Total</div>
                                    <div class="col-2"></div>
                                    <div class="col-4 text-right">$1000</div>
                                </div>
                                <button type="button" class="btn btn-primary float-right mt-4" id="a2-btn-step-3"
                                    data-dismiss="">Proceed To Pay</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <!-- </form> -->

        </div>
        
      </div>
    </div>
  </div>
